<!--========================pop up model start========================-->
<div class="modal fade" id="image-upload" role="dialog" tabindex='-1'>

    <div class="modal-dialog modal-image-upload">
        <div class="modal-content">

            <div class="modal-header header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeImageUpload">×</button>
                <h4 class="modal-title">Upload Image</h4>
            </div>

            <div class="modal-body body">
                <div class="row">
                    <div class="col-md-12" id="cropImage">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn" id="cancelImageUpload">Cancel</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="saveImageUpload">Save</button>
            </div>

        </div>

        <div class="clearfix"></div>
    </div>

</div>
<!--========================pop up model end========================-->
